// Specific CSS for your home-page
.index-cards {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  justify-content: center;
}
 #home-display {
  display:flex;
  justify-content: space-evenly;
 }
