.how_it_works {
  display: flex;
  margin: 5vh 0;
  justify-content: center;
  color: rgba(108, 122, 137, 1);
  align-items: center;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 20px;

}

.dark-text {
  color: $dark;
}
.card-landing-infos {
  text-align:justify;
}

.description_step {
  // width: 30vw;
  div {
    margin: 5vh 0;
  }
}

.title_step {
  color: $green;
  text-align: center;
  margin-bottom: 20px;
}

.img_step {
  width: 15vw;
  margin-left: 1vw;
  margin: 40px 40px 40px 0px;
}

#title_HIW {
  text-align: center;
  color: $green;
  margin: 50px 0px 20px 0px;
}

#tutorial-biker, #tutorial-owner {
  h2 {
    text-align: center;
    font-size: 24px;
    color: $green;
    margin-bottom: 20px;
    padding-top: 30px;
  }
}

.tutorial-links {
  text-align: center;
  font-size: 16px;
  margin-bottom: 60px;
  ul {
    list-style: none;
    padding-left: 0px;
    padding-bottom: 20px;
    max-width: 400px;
    border-bottom: 1px solid $green;
    margin: 0px auto;
  }
  a {
    line-height: 2;
  }
  a:hover {
    text-decoration: none;
  }
}
// toggle

.hidden_tutorial {
  display: none;
}


@media(max-width: 700px) {
  .how_it_works {
    display: grid;
    grid-template-columns: 1fr;
  }
  .description_step {
    width: 60vw;
    text-align: justify;
    margin: 0 auto;
  }
  .img_step{
    visibility: hidden;
  }
}

@media(max-width: 1000px) {
  .how_it_works {
    display: grid;
    grid-template-columns: 1fr;
  }
  .description_step {
    width: 90vw;
    text-align: justify;
    margin: 0 auto;
  }
}

