<h1>Garages#show</h1>
<p>Find me in app/views/garages/show.html.erb</p>

<div class="row">
  <div class="col-12 col-md-8">
    <h2>Bike Name</h2>
    <p>This is a description. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
    <p>This is a feature</p>
    <p>A second feature</p>
  </div>
  <div class="col-12 col-md-8">
    <div>
      <h3>Booking form</h3>
    </div>
  </div>
</div>
