<div class="dashboard-container" data-index="0">

  <div class="sidebar">
    <%= render 'shared/dashboardsidebar'%>
  </div>
  <!-- Display received requests as an owner: -->
  <div class="dashboard-main">
    <h3>Pending requests:</h3>

  </div>
</div>
