<% if current_user.id == @user.id %>
  <div class="dashboard-container" data-index="2">

    <div class="sidebar">
      <%= render 'shared/dashboardsidebar'%>
    </div>

    <div class="dashboard-main">
      <div>
        <div>
          <% if @biker_bookings.where(status: %w(pending rejected accepted paid)).any? %>
            <h3 class="dashboard-header">Pending requests:</h3>
            <% @biker_bookings.where(status: %w(pending rejected accepted paid)).each do |booking| %>
              <%= render 'biker-booking-card', booking: booking %>
            <% end %>
          <% end %>
        </div>
        <div>
          <% if @biker_bookings.where(status: "active").any? %>
            <h3 class="dashboard-header">Active rental agreements:</h3>
            <% @biker_bookings.where(status: "active").each do |booking| %>
              <%= render 'biker-booking-card', booking: booking %>
            <% end %>
          <% end %>
        </div>
        <div>
          <% if @biker_bookings.where(status: %w(cancelled_by_owner cancelled_by_biker done)).any? %>
            <h3 class="dashboard-header">Past rental agreements:</h3>
            <% @biker_bookings.where(status: %w(cancelled_by_owner cancelled_by_biker done)).each do |booking| %>
              <%= render 'biker-booking-card', booking: booking %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <h2>Stop trying to break our website.</h2>
  <h2>We're juniors, but we're not <em>that</em> junior.</h2>
<% end %>
