<% if current_user.id == @user.id %>
  <div class="dashboard-container" data-index="1">

    <div class="sidebar">
      <%= render 'shared/dashboardsidebar'%>
    </div>

    <div class="dashboard-main">
      <h3 class="dashboard-header">My garages</h3>

      <% @garages.each do |garage| %>
        <%= render 'my-garages-card', garage: garage %>
      <% end %>

    </div>

  </div>
<% else %>
  <h2>Stop trying to break our website.</h2>
  <h2>We're juniors, but we're not <em>that</em> junior.</h2>
<% end %>
