<div class="dashboard-container" data-index="2">

  <div class="sidebar">
    <%= render 'shared/dashboardsidebar'%>
  </div>

  <div class="dashboard-main">
    <h2>My garages</h2>

    <% @garages.each do |garage| %>
      <%= render 'my-garages-card', garage: garage %>
    <% end %>

  </div>

</div>
