<div class="sidebar-body" data-controller="tab">

  <ul class="tabs">

    <%= link_to dashboard_home_user_path(current_user) do %>
      <li class="sidebar-tab" data-target="tab.bar">Dashboard</li>
    <% end %>

    <%= link_to dashboard_my_garages_user_path(current_user) do %>
      <li class="sidebar-tab" data-target="tab.bar">My Garage(s)</li>
    <% end %>

    <%= link_to dashboard_my_bookings_user_path(current_user) do %>
      <li class="sidebar-tab" data-target="tab.bar">My Rentals</li>
    <% end %>

    <%= link_to dashboard_add_review_user_path(current_user) do %>
      <li class="sidebar-tab" data-target="tab.bar">Add A Review</li>
    <% end %>
  </ul>

</div>
