<div class="sidebar-body">

  <ul class="tabs">
    <%= link_to user_dashboard_path(current_user) do %>
      <li>Account</li>
    <% end %>

    <%= link_to dashboard_my_garages_user_path(current_user) do %>
      <li>My garage(s)</li>
    <% end %>

    <%= link_to dashboard_my_bookings_user_path(current_user) do %>
      <li>My rent agreements</li>
    <% end %>
  </ul>

</div>
