<h2 id="title_HIW">How It Works</h2>

<div>
  <div class="how_it_works">
    <div class="title_step">
      <div><h3>Step 01</h3></div>
      <div><h4>SignUp!</h4></div>
    </div>
  </div>
  <div class="how_it_works img_text_block">
    <div class="description_step">
      <div>
        Are you an owner?<br>
        The first thing you whant to do after signing up is to add your own garage.<br>
        Look at the already existing garages in your are to see the average prices.<br>
        Click in the "Add Your Garage" button in the Navbar and fill in the form.<br>
        Click in "submit" and that's it! Your garage is online an available to be booked by other bikers!
      </div>
      <div>
        Are you a biker?<br>
        After signing up you can already look for a garage where to add your bike!<br>
        Don't worry about adding your bike yet, this will come later! <br>
        First thing to do is to click on "click here to safe my bike" and you will be able to see all garages available.<br>
        Enter your address in the search bar and browse through the garages,<br>
        Once you've found the perfect garage start filling the booking form. If you don't have a bike yet you will be prompt to enter a new one.<br>
        And that's it! Your request was sent to the owner of the garage.
      </div>
    </div>
    <div class="img_step">
      <div class="card-landing-image" style="background-image: url('<%= image_path "ipad.jpg" %>'); background-repeat: no-repeat; width: 20vw; height: 30vh">
      </div>
    </div>
  </div>
  <div class="how_it_works">
    <div class="title_step">
      <div><h3>Step 02</h3></div>
      <div><h4>Waiting for confirmation</h4></div>
    </div>
  </div>
  <div class="how_it_works img_text_block">
    <div class="description_step">
      <div>
        Are you an owner?<br>
        Once a biker books your garage you will, a new card will appear in your dashboard.<br>
        As an owner you have several options: <br>
        1 - accept a request;<br>
        2 - reject a request;<br>
        3 - contact the biker;<br>
        4 - hide a request;<br>
        Once you accept a request the booking will only start once the biker enter his payment information(if he didn't already).<br>
        You can reject a request at any time before the biker enter his payment info. <br>
        You can contact the biker at any time during the rent. <br>
        You hide a request once it is "done" (the rent agreement is finished), "rejected" or "cancelled".
      </div>
      <div>
        Are you a bike?<br>
        You can see in your Dashboard all the bookings you have made. For each booking you have different options: <br>
        1 - You can directly enter your payment information. <br>
        If afterwards the owner rejects your request you will, obviously, not be billed. <br>
        You can also pay after the owner has confirmed your request. <br>
        2 - You can contact the owner. You want to know more information about the garage? <br>
        You have other questions? use the builtin chat to talk with the owner.
        3 - cancell your request. You can cancell a rent at any time before the starting date. <br>
        Once the starting date has passed you will have to wait for the beggining of the next month to finish the rent.
      </div>
    </div>
    <div class="img_step">
      <div class="card-landing-image" style="background-image: url('<%= image_path "ipad.jpg" %>'); background-repeat: no-repeat; width: 20vw; height: 30vh">
      </div>
    </div>
  </div>
  <div class="how_it_works" >
    <div class="title_step">
      <div><h3>Step 03</h3></div>
      <div><h4>Safe your bike!</h4></div>
    </div>
  </div>
  <div class="how_it_works img_text_block">
    <div class="description_step">
      <div>
        Once both the owner has confirmed the booking and the biker has entered the payment info you don't have to do anything else! You can contact the owner and organize a location for you to meet and exchange the keys.
      </div>
    </div>
    <div class="img_step">
      <div class="card-landing-image" style="background-image: url('<%= image_path "ipad.jpg" %>'); background-repeat: no-repeat; width: 20vw; height: 30vh">
      </div>
    </div>
  </div>
</div>
