<div id="banner-landing">
  <div id="search-landing">
    <i class="fas fa-search-location"></i> <input type="field">
  </div>
</div>

<div id="explanation">
  <h2>Explanation</h2>
  <div class="row">
    <div class="step-number"><div>1</div></div>
    <div class="explanation-text">
      <i class="fas fa-bicycle"></i>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>
  </div>
  <div class="row line">
    <div class="line-corner-left"></div>
    <div></div>
  </div>
  <div class="row">
    <div class="step-number"><div>2</div></div>
    <div class="explanation-text">
      <i class="fas fa-search-location"></i>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>
  </div>
  <div class="row line">
    <div class="line-corner-left"></div>
    <div></div>
  </div>
  <div class="row">
    <div class="step-number"><div>3</div></div>
    <div class="explanation-text">
      <i class="fas fa-warehouse"></i>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>
  </div>
</div>
