#banner-landing {
  position: relative;
  height: calc(100vh - 56px);
  background-size: cover;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.arrow {
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: $green;
  font-size: 2em;
}

#search-landing {
  img {
    width: 150px;
  }
  text-align: center;
  i {
    display: inline-block;
    font-size: 40px;
    color: #4ED191;
    margin-right: 10px;
  }
  input {
    border-radius: 25px;
    width: 80%;
    height: 40px;
  }
  .btn {
    margin-top: 20px;
    display: inline-block;
    font-size: 22px;
  }
}

h1 {
  color: $green;
  font-size: 56px;
}

