.account-card {
  background-color: $lightwhite;
  margin: 30px auto;
  padding: 30px;
  width: object-fit;
  max-width: 800px;
  border-radius: 8px;
}

.account-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    margin: 0;
  }
  .btn {
    margin: 0;
    margin-left: 30px;
  }
}

.account-headline {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.account-body {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row-reverse;
  h2 {
    margin: 10px 0px 25px 0px;
  }
  .btn {
    margin-top: 30px;
  }
}
.account-info-list {
  width: 100%
}
.account-info {
  flex-grow: 1;
  padding: 10px 0px 0px 0px;
  margin: 0px;
  border-bottom: 1px solid $dark;
  display: flex;
  .info {
    font-weight: bold;
    width: 160px;
  }
  .info-content {
    flex-grow: 1;
    text-align: right;
  }
}

.account-pic {
  padding-left: 50px;
  display: flex;
  justify-content: center;
  min-width: 250px;
  margin-top: 30px;
}
