.card-dashboard, .card-dashboard-request {
  width: 100%;
  min-height: 120px;
  max-width: 1100px;
  display: flex;
  position: relative;
  border-radius: 5px;
  background-color: $white;
  box-shadow: 1px 1px 10px lightgrey;
  margin: 10px auto 20px auto;
  a > .garage-card-image {
    position: relative;
    width: 150px;
    height: 100%;
    border-radius: 5px 0 0 5px;
  }
  .garage-card-info {
    p {
      font-size: 0.85em;
    }
    .larger-text {
      font-size: 1em;
    }
  }
  .top-right {
    display: flex;
    align-items: center;
    .tag-item {
      margin-left: 5px;
    }
  }
}
.garage-card-avatar {
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
}


.bike-image {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
}


.card-dashboard-request {
  max-width: 400px;
}

.shadow {
  box-shadow: 1px 1px 50px lightgrey;
}


@media(max-width: 1400px) {
  .card-dashboard, .card-dashboard-request {
    min-height: 180px;
    a > .garage-card-image {
      width: 200px;
    }
    .garage-card-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .larger-text {
        padding-top: 20px;
      }
    }
  }
}

@media(max-width: 800px) {
    .card-dashboard, .card-dashboard-request {
    min-height: 250px;
    a > .garage-card-image {
    width: 170px;
    }
     .garage-card-info {
      .larger-text {
        font-size: 1.1em;
        padding-bottom: 10px;
        padding-top: 20px;
      }
      p {
        font-size: 0.9em;
      }
    }
  }
}

@media(max-width: 660px) {
  .card-dashboard, .card-dashboard-request {
    min-height: 310px;
  a > .garage-card-image {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    position: relative;
    top: 60px;
    right: 30px;
    border: 1px solid $white;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    z-index: 2;
    }
  a.garage-card-link {
    background-color: $lightwhite;
    width: 60px;
    }
  .garage-card-info {
    justify-content: left;
    padding-top: 50px;
    }
  .bottom-right {
    right: 5px;
    font-size: 0.9em;
    }
  div.top-right {
    font-size: 0.9em;
    }
  }
}
