.account-card {
  background-color: $lightwhite;
  margin: 30px auto;
  padding: 40px;
  width: object-fit;
  max-width: 800px;
  border-radius: 8px;
}

.account-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  h2 {
    margin: 0;
  }
  .btn {
    margin: 0;
    margin-left: 30px;
  }
}

.account-headline {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.account-body {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row-reverse;
  h2 {
    margin: 10px 0px 25px 0px;
  }
  .btn {
    margin-top: 30px;
  }
}
.account-info-list {
  width: 100%
}
.account-info {
  flex-grow: 1;
  padding: 10px 0px 0px 0px;
  margin: 0px;
  border-bottom: 1px solid rgba(77, 209, 145, 0.4);
  display: flex;
  opacity: 0.9;
  .info {
    font-weight: bold;
    width: 160px;
  }
  .info-content {
    flex-grow: 1;
    text-align: right;
  }
}

.account-pic {
  padding-left: 50px;
  display: flex;
  justify-content: center;
  min-width: 250px;
  margin-top: 30px;
  .avatar-very-large {
    border: solid 1px $green;
  }
}

@media(max-width: 660px) {
  .account-title {
    display: block;
    text-align: center;
    a.btn-flat {
      margin: 20px 0px 0px 0px;
    }
  }
  .account-body {
    display:block;
    font-size: 12px;
  }
  .account-pic {
    padding-left: 0px;
    width: 130px;
    min-width: 130px;
    margin: 0px auto;
    img {
    position: relative;
    width: 90px;
    height: 90px;
    margin: 10px 0px;
    }
  }
}
