.dashboard-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.dashboard-main {
  width: 100%;
  flex-grow: 1;
  padding: 10px 40px 20px 40px;
}

.dashboard-header {
  background-color: $green;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  max-width: 600px;
  margin-bottom: 30px;
  text-align: center;
  margin: 30px auto 30px auto;
  font-size: 24px;
}

@media(max-width: 1000px) {
  .dashboard-container {
    display: block;
  }
}
