.dashboard-container {
  display: flex;
  align-items: flex-start;
}

.dashboard-main {
  flex-grow: 1;
  padding: 20px;
}

.card-dashboard {
  border-radius: 10px;
  margin: 10px 25px;
  border: solid 1px $green;
  margin: 25px;
  padding: 20px 20px 50px 50px;
}
