.dashboard-container {
  display: flex;
  align-items: flex-start;
  min-height: calc(100vh - 133px);
  width: 100%;
}

.dashboard-main {
  width: 100%;
  flex-grow: 1;
  padding: 20px;
}

@media(max-width: 1000px) {
  .dashboard-container {
    display: block;
  }
}
