.garage-show-body {
  h2 {
    padding: 20px 0px 6px 0px;
  }
  h3 {
    font-size: 20px;
    padding-bottom: 10px;
  }
}

.garage-show-photo {
  img {
    width: 400px;
    height: 267px;
    border-radius: 10px;
    border: 2px solid $white;
  }
}

.garage-show-booking {
  background-color: $green;
  border-radius: 10px;
  color: $white;
  padding: 10px 25px;
  margin: 20px 0px;
}
