.garage-map > .mapboxgl-control-container > .mapboxgl-ctrl-top-right {
  display: none;
}

.garage-show-body {
  background-color: white;
  border-radius: 10px;
  margin: 20px 0 15px;
  padding: 20px;
  text-align: justify;
  h2 {
    padding: 0px 0px 10px 0px;
    color: $green;
  }
  h3 {
    font-size: 20px;
    padding-bottom: 15px;
  }
}

.garage-show-card {
  width: fit-content;
  background-color: white;
  border-radius: 10px;
  padding: 0px 20px;
  margin: 0px 0px 15px 0px;
  i {
    display: inline-block;
    color: $green;
    padding-right: 6px;
  }
  h4 {
    color: $green;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
  }
  p {
    font-weight: bold;
    margin: 10px 0px 10px 10px;
    display: inline-block;
  }
}

.garage-show-photo {
  img {
    width: 400px;
    height: 267px;
    margin: 15px 0px 39px 0px;
    border-radius: 10px;
    border: 2px solid $white;
  }
}

.garage-show-booking {
  position: sticky;
  top: 20px;
  background-color: $green;
  border-radius: 10px;
  color: $white;
  padding: 25px 25px;
  margin: 20px 0px;
  text-align: center;
  h3 {
    padding-bottom: 15px;
  }
  h4, p {
    text-align: center;
  }
}

.show-price {
  color: $white;
  font-weight: bold;
  font-size: 20px;
}

.garage-features {
  width: fit-content;
  margin: 20px 0px 20px 25px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 0px 0px 15px 0px;
  font-weight: bold;
}

.garage-feature {
  width: fit-content;
  display: flex;
}

.feature-icon {
  width: 25px;
  color: $green;
}

.booking-form-prices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spots-available {
  margin-top: 30px;
}

.reviews-container {
  h4 > i {
    font-size: 0.75em;
  }
}
