.mapboxgl-popup {
  width: 240px;
  height: 166px;
}

.mapboxgl-popup-content {
  width: 240px;
  height: 200px;
  padding: 0 !important;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  .index-card {
    margin: 0;
    .index-card-body {
      padding: 6px;
      h5 {
        font-size: 1.25em;
      }
      p {
        font-size: 1em;
      }
    }
    &:hover {
      color: $green;
      text-decoration: none;
    }
  }
}

.mapboxgl-popup-close-button {
  color: $white;
  font-size: 2em;
  &:hover {
    color: $green;
  }
}
