.sidebar {
  min-width: 175px;
  position: sticky;
  top: 0px;
}
.sidebar-body {
  background-color: white;
  height: 100vh;
}

.tabs {
  padding: 0;
  list-style-type: none;
}
.sidebar-tab {
  padding: 12px;
  text-align: center;
  color: $white;
  background-color: $green;
  opacity: 0.9;
  &:hover {
    background-color: $green;
    opacity: 1;
  }
}

.tab-active {
  background-color: $darkgreen;
  opacity: 1;
}
