.sidebar {
  min-width: 230px;
  position: sticky;
  top: 0px;
  background-color: $green;
  min-height: calc(100vh - 133px);
}
.sidebar-body {
  background-color: $green;
  // min-height: calc(100vh - 133px);
  // height: fill;
  top: 0px;
  position: sticky;
}

.tabs {
  padding: 0;
  list-style-type: none;
  a {
    text-decoration: none;
    font-weight: 600;
  }
}
.sidebar-tab {
  padding: 16px;
  text-align: left;
  color: $white;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #6FD8A4;
  i {
    width: 40px;
    padding-left: 5px;
  }
  p {
    color: $white;
  }
  &:hover {
    background-color: $darkgreen;
    opacity: 1;
  }
}

.tab-active {
  background-color: $darkgreen;
  opacity: 1;
}

.hidden-tab {
  display: none;
}

@media(max-width: 1000px) {
  .sidebar {
    position: relative;
  }
  .sidebar-body {
    min-height: 48px;
    height: auto;
    display: flex;
    justify-content: center;
    ul#dashboard-menu .sidebar-tab {
      height: 48px;
    }
    ul#dashboard-menu {
      display: flex;
      align-items: center;
      padding: 0px;
      margin: 0px;
    }
  }
}

@media(max-width: 700px) {
  .sidebar-tab {
    p {
      display: none;
    }
  }
}
