$bg: $darkgreen;
$fg: lighten($bg,20%);
$borderWidth: 3px;

#btn-background{
  background: $bg;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: lighten($bg,40%);
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}

input[type=radio]:checked + label{
  color: lighten($bg,90%);
  background: $fg;
}

label + input[type=radio] + label {
  border-left: solid $borderWidth $fg;
}
.radio-group {
  border: solid $borderWidth $fg;
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  width: 20%;
  height: 10%;
}

.label-option{
  margin-bottom: 0;
  width: 50%;
  font-size: 1.2em;
}

#form_toggle_button {
  text-align: center;
  margin: 50px 0 20px 0;
}

@media(max-width: 1200px) {
  .radio-group {
    width: 30%;
  }
}

@media(max-width: 900px) {
  .radio-group {
    width: 60%;
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
